/* .tecno-container{
    display: flex;
    background-color: white;
    color: black;
    height: 35vh;
    padding: 50px 0 50px 0;
}
.tecno-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 100px 0 100px;
} */